/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }


.column{
    margin-left: 20%;
    justify-content: center;
}


/* nav */
*{
    padding: 0;
    margin: 0;
}
.logo{
    width: 125px;
}
.rating{
    color: gold;
    align-items: center;
    margin-left: 20px;
}


/* card */

.footer1 {
    position: absolute;
    bottom: -5%;
    width:99.7%;
    height: 26px;

  background: rgb(253, 56, 56);
  left: 0%;
 
}
.footer1 a{

    top:0;
    justify-content: center;
    margin-top: 10%;
}
.footer {
    position: absolute;
    bottom: 0%;
    width:100%;
    height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2c2c2c;
  margin-left: -10%;
}
.footer p{
  display:inline;
word-wrap: break-word;
}
.footer,
.footer p{
  color: #fff;

}
.checkbox {
    display:inline;
word-wrap: no-wrap;

}